/* There will be 20 boxes total */

#container {
    display: grid;
    width: 400px;
    height: 500px;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 100px repeat(5, 80px);
    border-style: solid;
    border-width: 10px;
    border-radius: 5px;
    border-color: rgb(56, 56, 56);
    
    position: absolute;
    margin:auto;
    top:0; bottom: 0; left:0; right:0;
    /***** THIS ALSO WORKS ******/
    /* top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
     */
     /***** THIS ALSO WORKS ******/
}

div {
    border-style: solid;
}
.button {
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    transition: all .04s ease;
}

.special {
    background-color: rgb(48, 92, 236);
}
.number {
    background-color:rgb(31, 116, 59);
}
.operator {
    background-color: rgb(245, 168, 26);
}
.pressed {
    filter: brightness(50%);
}

#num-display {
    padding: 5px;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: rgb(160, 160, 160);
    border-width: 4px;
    text-align:right;
    line-height:100px;
    font-size: 40px;
}

#zero-btn {
    grid-column-start: 1;
    grid-column-end:3;
}